**/.ipynb_checkpoints/

**.un~

Pipfile.lock
Pipfile
/seminar_10/Tweets.zip
/seminar_10/GoogleNews-vectors-negative300.bin
/seminar_9/.vector_cache/
/seminar_6/cat_feature_index.ffad08b-5fb9ce22-a727e25c-df141df9.tmp
/seminar_6/cat_feature_index.f4f1ad94-7c146ce9-b6433aa-cd5a2b44.tmp
/seminar_6/catboost_info/
/seminar_6/Untitled.ipynb
/seminar_6/cat_feature_index.837eb62f-e48e898-90eaf929-2276628b.tmp
/seminar_6/data/
/seminar_6/data.zip
/pip_src/
/.venv/
